
#wrapper {
  margin: 3em;
}

#body {
  margin: 0 auto;
  width: 80%;
}

#events-chart {
  padding: 10px;
}
.charts-table {
  display: table;
}

.charts-row {
  display: table-row;
}

.chart {
  display: table-cell;
  border:5px solid transparent;
  padding: 10px;
  margin: 0 auto;
}
.chart canvas {
}

.legend {
  font-size: small;
  padding-bottom: 5px;
}
