<html>
<head>
<title>Continue benchmarking microsite</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/Chart.min.js"></script>
</head>
<body>
<h1>Continious benchmarking microsite</h1>

<p>
Taleggio airedale mozzarella. Cheesy feet mascarpone mozzarella ricotta stilton paneer fondue cauliflower cheese. Cheese triangles cheesecake fondue caerphilly chalk and cheese cheddar cream cheese cut the cheese. Pepper jack boursin halloumi camembert de normandie roquefort blue castello paneer goat. Halloumi dolcelatte babybel stinking bishop.
</p>
<p>
Queso fromage halloumi. Port-salut melted cheese blue castello melted cheese pecorino everyone loves roquefort port-salut. Melted cheese when the cheese comes out everybody's happy swiss cheese on toast feta cut the cheese feta stilton. Fromage bavarian bergkase blue castello babybel goat bavarian bergkase when the cheese comes out everybody's happy.
</p>

<div id="wrapper">
  <div id="body">
    <h3>Events</h3>
    <div    id="events-placeholder"></div>
    <canvas id="events-chart" width="800" height="400"></canvas>
    <div class="charts-table">
      <div class="charts-row">
        <div class="chart">
        </div>
        <div class="charts-row">
          <div class="chart">
            <h3>Average Tps</h3>
            <div id="avg-tps-placeholder"></div>
            <canvas id="avg-tps-chart" width="350" height="350"></canvas>
          </div>
          <div class="chart">
            <h3>Best-tps</h3>
            <div    id="best-tps-placeholder"></div>
            <canvas id="best-tps-chart" width="350" height="350"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>I love cheese, especially camembert de normandie fromage. Port-salut who moved my cheese cheesecake cheesecake bocconcini lancashire everyone loves cheese strings. Goat stilton dolcelatte cheesy feet swiss stilton smelly cheese say cheese. Swiss cheese slices cheesy grin croque monsieur melted cheese swiss bocconcini.</p>
  </body>
  </html>
<script type="text/javascript" src="js/microsite.js"></script>
